<section class="pt-[200px] px-4 md:pt-[96px] sm:pt-[72px] md:px-8">
  <div class="text-center max-w-[900px] mx-auto">
    <h2 class="text-[48px] md:text-[32px] sm:text-[32px] font-Poppins inline font-semibold self-start app-text-gradient-bg text-transparent bg-clip-text">
      Holographic Assistant
    </h2>
    <div class="text-[20px] md:text-[17px] sm:text-[16px] mt-[24px] md:max-w-[600px] md:mx-auto">
      Holographic Assistant – AI based technological B2B solution aimed to be generally used in HoReCa (not limited). Visual and voice AI assistant integrated within inner software systems is used to serve your customers.
    </div>
  </div>
  <div class="mx-auto relative bg-[url(/optimized/soon-bg.webp)] bg-cover bg-center mt-[64px] md:mt-[32px] py-[400px] md:py-[280px] sm:py-[200px] rounded-[20px] font-Poppins text-[48px] md:text-[24px] sm:text-[24px] tracking-[28px] uppercase font-semibold sm:tracking-[12px] max-w-[1664px] text-center ">
    <div class="opacity-0">Coming soon</div>
    <div class="md:hidden sm:hidden absolute right-[50%] translate-x-[-50%] text-shadow-blue">Coming</div>
    <div class="md:hidden sm:hidden absolute left-[50%] translate-x-[100%] text-shadow-blue">soon</div>
    <div class="hidden sm:flex md:flex items-center justify-center absolute bottom-0 h-[150px] sm:h-[100px] black-gradient w-full left-[50%] translate-x-[-50%] text-shadow-blue">
      <span>
        Coming soon
      </span>
    </div>
  </div>
</section>