---
// import { Icon } from "astro-icon/components";
// import ContentSection from "~/components/content-section.astro";
---

<video id="bg-video" class="absolute z-[1] top-0 sm:hidden left-0 w-full min-w-[1000px] object-cover" autoplay loop muted id="bg">
  <source src="/14.webm">
</video>
<section id="home"  class="bg-[url(/optimized/bg.webp)] sm:overflow-hidden sm:bg-[url(/optimized/bg-sm.webp)] md:min-h-[530px] relative px-10 sm:px-4 bg-cover bg-center md:bg-p-100% flex items-end pb-[100px] md:pb-[34px] sm:min-h-[95vh]">
  
  <div class="z-[3] absolute bottom-[200px] md:bottom-[60px] sm:bottom-[50px] space-y-[40px] md:space-y-[16px] sm:space-y-[16px]">
    <h1 class=" min-h-[100px] sm:min-h-[30px] font-Poppins max-w-[644px] md:max-w-[500px] font-semibold text-white text-[64px] md:text-[48px] sm:text-[32px] leading-[75px] md:leading-[56px] sm:leading-[40px]">
      <span class="app-text-gradient-bg text-transparent bg-clip-text">CompAI</span> – your best
AI generated friend
    </h1>
    <div class="max-w-[600px] md:text-[17px] sm:text-[14px]">
      
We offer AI voice and visual avatars for roles like fitness coaches, psychologists, concierges, personal assistants, math teachers, nutrition counselors and many more.
<br/></br>

Our technology makes everyday tasks easier and more fun, bringing advanced AI into your life.
    </div>
  </div>
  <div class="opacity-0 md:opacity-100 sm:opacity-100 sm:md:opacity-100 absolute left-0 w-full h-[300px] sm:h-[450px] bottom-[80px] md:bottom-[20px] sm:bottom-[20px] bg-gradient-to-t from-[#091720] to-transparent"></div>
  <div class="absolute z-[3] app-border-gradient-bg bottom-0 pt-[1px] md:pt-[2px] px-[0px] overflow-hidden rounded-t-[48px] md:rounded-t-[24px] sm:rounded-t-[16px] shadow-layout left-0 w-full h-[100px] md:h-[36px] sm:h-[36px]">
    <div class="bg-app-bg w-full h-full rounded-t-[48px] md:rounded-t-[24px] sm:rounded-t-[16px]">
    </div>
  </div>
  <video class="opacity-0 w-full object-cover" autoplay loop muted id="bg-video-2">
    <source data-src="/14.webm">
  </video>
  <div class="z-[2] absolute animate-custom-top left-[20%] w-[200px] md:w-[100px] h-[200px] md:h-[100px] sm:w-[40px] sm:h-[40px] bg-[#1DA1F2D9] blur-[70px] md:blur-[30px] rounded-full" />
  <div class="z-[2] absolute animate-circling left-[20%] w-[400px] md:w-[200px] h-[400px] md:h-[200px] sm:w-[130px] sm:h-[130px] bg-[#1DA1F2D9] blur-[100px] md:blur-[50px] sm:blur-[35px] rounded-full" />
  <div class="z-[2] absolute animate-circling-reverse right-[20%] w-[300px] md:w-[150px] h-[300px] md:h-[150px] sm:w-[130px] sm:h-[130px] bg-[#1DA1F2D9] blur-[80px] md:blur-[50px] sm:blur-[75px] rounded-full">
  </div>
</section>
<script>
  function setupCursor () {
    const el = document.querySelector('#cursor')
    const section = document.querySelector('#cursor-section')

    function updatePosition(e) {
      el.style.left = e.clientX - 100 + 'px';
      el.style.top = e.clientY - 100 + 'px'
    }

    if (el && section && window.innerWidth > 700) {
      document.addEventListener('mousemove', updatePosition)
    }
  }

  window.addEventListener('DOMContentLoaded', function() {
    setupCursor()
    const video = document.getElementById('bg-video');
      if(video) video.playbackRate = 0.7;
  })
  

</script>