
<section class="pt-[200px] sm:px-4 md:pt-[64px] sm:pt-[64px]">
  <div class="space-y-[40px] md:space-y-[24px] max-w-[800px] mx-auto text-center">
    <h2 class="text-white font-Poppins font-semibold text-[64px] md:text-[32px] sm:text-[32px]">
      Our Team
    </h2>
  </div>

  <div class="flex flex-wrap gap-4 justify-center max-w-[1432px] mt-[72px] md:mt-[24px] sm:mt-[24px] mx-auto">
    <div class="w-[466px] md:w-[48%] md:max-w-[466px] flex items-end h-[540px] bg-[url(/optimized/team-1.webp)] bg-cover bg-center overflow-hidden rounded-[30px]">
      <div class="bg-gradient-to-t from-black w-full via-[rgba(0,0,0,0.4)] to-transparent px-[24px] pb-[24px] pt-[60px] text-white">
        <div class="text-[36px] text-white">Samir Kumar</div>
        <div class="text-[20px] mt-[4px]">CEO</div>
        <div class="text-[20px] text-[#D5D5D5] mt-[4px]">Samir has a 15 years experience in IT industry, Ex-Head of Operation Department in Nova IT-Solutions, Dubai</div>
      </div>
    </div>
    <div class="w-[466px] md:w-[48%] md:max-w-[466px] flex items-end h-[540px] bg-[url(/optimized/team-2.webp)] bg-cover bg-center overflow-hidden rounded-[30px]">
      <div class="bg-gradient-to-t  from-black w-full via-[rgba(0,0,0,0.4)] to-transparent px-[24px] pb-[24px] pt-[60px] text-white">
        <div class="text-[36px] text-white">Christian Brandt</div>
        <div class="text-[20px] mt-[4px]">CFO</div>
        <div class="text-[20px] text-[#D5D5D5] mt-[4px]">Christian has extensive experience in finance, for a long period worked as a Head of Audit departments in Big Four Auditing firms</div>
      </div>
    </div>
    <div class="w-[466px] md:w-[48%] md:max-w-[466px] flex items-end h-[540px] bg-[url(/optimized/team-3.webp)] bg-cover bg-center overflow-hidden rounded-[30px]">
      <div class="bg-gradient-to-t from-black w-full via-[rgba(0,0,0,0.4)] to-transparent px-[24px] pb-[24px] pt-[60px] text-white">
        <div class="text-[36px] text-white">Margarita Novikova</div>
        <div class="text-[20px] mt-[4px]">CMO</div>
        <div class="text-[20px] text-[#D5D5D5] mt-[4px]">Margarita was Vice Marketing Director in Procter&Gamble, Slovakia</div>
      </div>
    </div>
  </div>
</section>