<div class="pt-[150px] md:pt-[80px] mb-[-100px]">
  <div class="max-w-[800px] md:hidden text-center mx-auto">
    <h2 class="text-[64px] sm:text-[32px]  font-Poppins font-semibold app-text-gradient-bg inline">
      Roadmap
    </h2>
  </div>
</div>
<section id="cursor-section" class="bg-[url(/optimized/bg-roadmap.webp)] group relative overflow-hidden bg-cover min-h-[600px] pt-[170px] sm:pt-[100px]">
  <img width="710" height="1535" class="sm:hidden max-w-[710px] mx-auto md:hidden" src="/optimized/cursors.webp" alt="roadmap">
  <img width="121" height="1508" class="sm:hidden max-w-[121px] mx-auto hidden md:block" src="/optimized/cursors-md.webp" alt="roadmap">
  <div class="sm:hidden absolute left-[50%] w-[620px] translate-x-[-110%] md:translate-x-[-60%] top-[282px] md:top-[255px]">
    <div class="text-white text-[32px] md:text-[20px]">Q4 2023-Q1 2024</div>
    <div class="text-[20px] md:text-[17] mt-[20px]">
      <div>
        - AI Development phase 1
      </div>
      <div>
        - Team organization
      </div>
      <div>
        - Web resources development
      </div>
      <div>
        - Social Media Resources
      </div>
    </div>
  </div>
  <div class="sm:hidden absolute right-[50%] w-[620px] translate-x-[160%] md:translate-x-[112%] top-[530px] md:top-[460px]">
    <div class="text-white text-[32px] md:text-[20px]">Q2-Q3 2024</div>
    <div class="text-[20px] md:text-[17] mt-[20px]">
      <div>
        - AI Development phase 2
      </div>
      <div>
        - Seed Round Financing
      </div>
      <div>
        - Wallet development and integration
      </div>
    </div>
  </div>
  <div class="sm:hidden absolute left-[50%] w-[620px] -translate-x-[120%] md:-translate-x-[60%] top-[775px] md:top-[700px]">
    <div class="text-white text-[32px] md:text-[20px] app-gradient-bg inline p-5">Q2-Q3 2024</div>
    <div class="text-[20px] mt-[30px] bg-app-bg-2 p-4 md:max-w-[300px]">
      <div>
        - NFT collection development
      </div>
      <div>
        - Financing Round A and B
      </div>
      <div>
        - AI Development phase 2 continuation (design, animation)
      </div>
      <div>
        - Active Community development
      </div>
      <div>
        - Holographic Assistant (HoloAssist) development phase 1
      </div>
    </div>
  </div>
  <div class="sm:hidden absolute right-[50%] w-[620px] translate-x-[160%] md:translate-x-[114%] top-[1090px] md:top-[1105px]">
    <div class="text-white text-[32px] md:text-[20px]">Q3 2024-Q1 2025</div>
    <div class="text-[20px] md:text-[17] mt-[20px]">
      <div>
        - Active marketing phase
      </div>
      <div>- AICO token listing</div>
      <div>- Animated AI development/Integration final phase</div>
      <div>- Active Community development</div>
      <div>- HoloAssist development phase 2</div>
    </div>
  </div>
  <div class="sm:hidden absolute left-[50%] w-[620px] translate-x-[-110%] md:translate-x-[-60%] top-[1370px] md:top-[1403px]">
    <div class="text-white text-[32px] md:text-[20px]">Q2-Q4 2025</div>
    <div class="text-[20px] md:text-[17] mt-[20px]">
      <div>
        - HoloAssist final development phase
      </div>
    </div>
  </div>
  <div class="sm:hidden absolute right-[50%] w-[620px] translate-x-[160%] md:translate-x-[115%] top-[1550px] md:top-[1580px]">
    <div class="text-white text-[32px] md:text-[20px] app-gradient-bg inline p-5">Q4 2025-Q1 2026</div>
    <div class="text-[20px] max-w-[80%] mt-[30px] bg-app-bg-2 p-4">
      <div>
        - HoloAssist sales start
      </div>
    </div>
  </div>
  <div class="hidden sm:flex px-6">
    <img width="35" height="1508" class="max-w-[35px]" src="/optimized/cursors-sm.webp" alt="roadmap">
    <div class="max-w-[80%]">
      <div class="pt-[78px] pl-[20px]">
        <div class="text-[20px] text-white font-semibold">Q4 2023-Q1 2024</div>
        <div>
          - AI Development phase 1 <br/>
          - Team organization <br/>
          - Web resources development <br/>
          - Social Media Resources <br/>
        </div>
      </div>
      <div class="pt-[52px] pl-[20px]">
        <div class="text-[20px] text-white font-semibold">Q2-Q3 2024</div>
        <div>
          - AI Development phase 2 <br/>
          - Seed Round Financing <br/>
          - Wallet development and integration <br/>
        </div>
      </div>
      <div class="pt-[95px] pl-[20px]">
        <div class="text-[20px] inline-block p-[10px] app-gradient-bg text-white font-semibold">Q2-Q3 2024</div>
        <div class="bg-app-bg-2 p-[10px] mt-[10px]">
          - NFT collection development
          <br/>- Financing Round A and B
          <br/>- AI Development phase 2 continuation (design, animation)
          <br/>- Active Community development
          <br/>- Holographic Assistant (HoloAssist) development 
          phase 1
        </div>
      </div>
      <div class="pt-[125px] pl-[20px]">
        <div class="text-[20px] text-white font-semibold">Q3 2024-Q1 2025</div>
        <div>
          - Active marketing phase <br/>
          - AICO token listing <br/>
          - Animated AI development/Integration final phase <br/>
          - Active Community development <br/>
          - HoloAssist development phase 2 <br/>
        </div>
      </div>
      <div class="pt-[76px] pl-[20px]">
        <div class="text-[20px] text-white font-semibold">Q2-Q4 2025</div>
        <div>
          - HoloAssist final development phase
        </div>
      </div>
      <div class="pt-[99px] pl-[20px]">
        <div class="text-[20px] inline-block p-[10px] app-gradient-bg text-white font-semibold">Q4 2025-Q1 2026</div>
        <div class="bg-app-bg-2 p-[10px] mt-[10px]">
          - HoloAssist sales start
        </div>
      </div>
    </div>
  </div>
  <div id="cursor" class="will-change-auto transition-all duration-[35ms] z-[4] fixed w-[200px] h-[200px] bg-[#1DA1F2] blur-[110px] mix-blend-plus-lighter">
  </div>
</section>