---
// import { Icon } from "astro-icon/components";
// import ContentSection from "~/components/content-section.astro";
---

<div id="about" class="z-[2] bg-app-bg relative px-4 md:pt-1">
  <div class="z-[5] max-w-[1664px] mx-auto">
    <div class="flex justify-center pb-[96px] md:pb-[36px] sm:pb-[36px]">
      <img width="400" height="86.6" class="max-w-[400px] md:max-w-[281px] sm:max-w-[192px]" src="/optimized/logo.webp" alt="logo" />
    </div>
    <section class="mx-auto max-w-[900px] justify-center text-center">
      <h2 class="text-[48px] md:text-[32px] sm:text-[32px] font-semibold font-Poppins text-white">What is Companion AI?</h2>
      <div class="mt-[24px] text-[20px] md:text-[17px] sm:text-[17px]">
        The future role of artificial intelligence lies on the path of improving domestic and professional assistance on the next level. Getting competent advice from your personal AI friend is the main purpose of CompanionAI.
      </div>
    </section>
    <div class="mt-[72px] grid grid-cols-3 gap-6 md:gap-4 md:grid-cols-1 sm:grid-cols-1">
      <div
        class="pb-[200px] overflow-hidden md:pb-[0px] md:flex sm:pb-[0px] relative min-h-[400px] md:min-h-[300px] sm:min-h-[300px]  rounded-[20px] bg-[url(/optimized/card-gradient.webp)] bg-cover p-[36px]"
      >
        <div class="space-y-6">
          <div class="text-[24px] font-semibold text-white">Fast AI response</div>
          <div class="max-w-[85%] md:max-w-[50%] text-[20px] md:text-[17px] sm:text-[17px]">
            The technology is based on solutions that allow you to get a quick
            response from your interlocutor
          </div>
        </div>
        <div class="md:self-end absolute bottom-0 right-0 md:static sm:static md:-mr-[40px] sm:-mr-[40px]">
          <img class="ml-auto max-w-[300px]" width="300" height="294" src="/optimized/card-1.webp" alt="">
        </div>
      </div>
      <div
        class="pb-[200px] overflow-hidden md:flex md:pb-[0px] sm:pb-[0px] relative min-h-[400px] md:min-h-[300px] rounded-[20px] bg-[url(/optimized/card-gradient.webp)] bg-cover p-[36px]"
      > 
        <div class="space-y-6">
          <div class="text-[24px] font-semibold text-white">
            Natural human behavior
          </div>
          <div class="max-w-[85%] md:max-w-[50%] text-[20px] md:text-[17px] sm:text-[17px]">
            The development of animated avatars aims to maximize the natural
            movements and facial expressions of your AI interlocutors
          </div>
        </div>
        <div class="md:self-end absolute bottom-0 right-0 md:static sm:static md:-mr-[40px] sm:-mr-[40px]">
          <img class="ml-auto max-w-[238px]" width="208" height="223" src="/optimized/card-2.webp" alt="">
        </div>
      </div>
      <div
        class="pb-[200px] overflow-hidden md:flex md:pb-[0px] sm:pb-[0px] relative min-h-[400px] md:min-h-[300px] rounded-[20px] bg-[url(/optimized/card-gradient.webp)] bg-cover p-[36px]"
      >
        <div class="space-y-6">
          <div class="text-[24px] font-semibold text-white">
            Technological features
          </div>
          <div class="max-w-[85%] md:max-w-[50%] text-[20px] md:text-[17px] sm:text-[17px]">
            Use of innovative solutions in the field of artificial intelligence and machine learning
          </div>
        </div>
        <div class="md:self-end absolute bottom-0 right-0 md:static sm:static md:-mr-[40px] sm:-mr-[40px]">
          <img class="ml-auto max-w-[264px]" width="264" height="303" src="/optimized/card-3.webp" alt="">
        </div>
      </div>
      <div
        class="pb-[200px] overflow-hidden md:flex md:pb-[0px] sm:pb-[0px] relative min-h-[400px] md:min-h-[300px] rounded-[20px] bg-[url(/optimized/card-gradient.webp)] bg-cover p-[36px]"
      >
        <div class="space-y-6">
          <div class="text-[24px] font-semibold text-white">
            NFT collection of avatars
          </div>
          <div class="max-w-[85%] md:max-w-[50%] text-[20px] md:text-[17px] sm:text-[17px]">
            NFT collection of avatars among which you will be able to choose the
            most suitable options for you
          </div>
        </div>
        <div class="md:self-end absolute bottom-0 right-0 md:static sm:static md:-mr-[40px] sm:-mr-[40px]">
          <img class="ml-auto max-w-[200px]" width="208" height="206" src="/optimized/card-4.webp" alt="">
        </div>
      </div>
      <div
        class="pb-[200px] overflow-hidden md:flex md:pb-[0px] sm:pb-[0px] relative min-h-[400px] md:min-h-[300px] rounded-[20px] bg-[url(/optimized/card-gradient.webp)] bg-cover p-[36px]"
      >
        <div class="space-y-6">
          <div class="text-[24px] font-semibold text-white">
            Moral and ethical approaches
          </div>
          <div class="max-w-[85%] md:max-w-[50%] text-[20px] md:text-[17px] sm:text-[17px]">
            Moral and ethical approaches to communications. AI is very correct in
            its statements
          </div>
        </div>
        <div class="md:self-end absolute bottom-0 right-0 md:static sm:static md:-mr-[40px] sm:-mr-[40px]">
          <img class="ml-auto max-w-[300px] " width="300" height="214" src="/optimized/card-5.webp" alt="">
        </div>
      </div>
      <div
        class="pb-[200px] overflow-hidden md:flex md:pb-[0px] sm:pb-[0px] relative min-h-[400px] md:min-h-[300px] rounded-[20px] bg-[url(/optimized/card-gradient.webp)] bg-cover p-[36px]"
      >
        <div class="space-y-6">
          <div class="text-[24px] font-semibold text-white">
            Communication style
          </div>
          <div class="max-w-[85%] md:max-w-[50%] text-[20px] md:text-[17px] sm:text-[17px]">
            Communication style is matched to the specific features of the
            interlocutor, which become known after the first communications
          </div>
        </div>
        <div class="md:self-end absolute bottom-0 right-0 md:static sm:static md:-mr-[40px] sm:-mr-[40px]">
          <img class="ml-auto max-w-[307px]" width="302" height="230" src="/optimized/card-6.webp" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
