<section id="docs" class="px-4 relative z-[5] pt-[200px] sm:pt-[72px]">
  <div class="mx-auto max-w-[1600px] overflow-hidden p-[1px] md:p-[2px] app-border-gradient-bg rounded-[30px]">
    <div class="bg-[url(/optimized/whitepaper-bg.webp)] rounded-[30px] bg-cover pl-[80px] md:pl-[40px] sm:pl-[20px] sm:pr-[20px] pr-[40px] flex md:flex-wrap sm:flex-wrap overflow-hidden">
      <div class="pt-[96px] md:pt-[36px] sm:pt-[20px]">
        <h2 class="text-[64px] md:text-[32px] sm:text-[32px] text-white font-Poppins font-semibold">Whitepaper</h2>
        <div class="mt-[40px] md:text-[17px] sm:text-[16px] md:mt-[24px] sm:mt-[24px]">
          Dive into more detailed information about CompanionAI Project. More technical data is available in Docs
        </div>
        <a href="/whitepaper.pdf" target="_blank" class="mt-[36px] cursor-pointer relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-[20px] font-medium text-gray-900 rounded-full group bg-gradient-to-br from-[#0B63F6] via-[#9F87FF] via-[#08D5EC] to-[#41F892] group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
          <span class="relative text-white md:text-[17px] sm:text-[17px] px-[30px] py-[20px] md:py-[15px] sm:py-[15px] transition-all ease-in duration-75 bg-[#142B3A] rounded-full group-hover:bg-[#142F3A]">
            Download
          </span>
        </a>
      </div>
      <div>
        <img width="912" height="669" class="max-w-[912px] sm:mt-[20px] md:mt-[20px] md:w-full sm:w-full" src="/optimized/whitepaper-cloud.webp" alt="Whitepaper image">
      </div>
    </div>
  </div>
</section>