---
import { Icon } from "astro-icon/components";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://astro.build/",
    description: "Astro's official website",
    icon: "mdi:home",
  },
  {
    url: "https://github.com/mhyfritz/astro-landing-page",
    description: "View source on GitHub",
    icon: "fa-brands:github-alt",
  },
  {
    url: "https://astro.build/chat",
    description: "Astro on Discord",
    icon: "fa-brands:discord",
  },
  {
    url: "https://twitter.com/astrodotbuild",
    description: "Astro on Twitter",
    icon: "fa-brands:twitter",
  },
];
---

<footer class="z-[5] relative mx-auto mt-[150px] md:px-[40px] px-[40px] sm:px-[24px] pb-[100px] sm:pb-[44px] max-w-[1430px] flex justify-between sm:flex-wrap">
  <div>
    <div class="sm:text-center">
      <div class="text-[64px] md:text-[32px] sm:text-[32px] font-Poppins font-semibold text-white">Join our community</div>
      <div class="text-[20px] md:text-[17px] sm:text-[17px] mt-[40px] md:mt-[24px] sm:mt-[24px] ">Follow the latest news from our company on our social networks</div>
    </div>
    <div class="mt-[100px] sm:my-[72px]">
      <ul class="flex space-x-4 sm:justify-center">
        <li><a target="_blank" href="https://twitter.com/compai_tech?s=11"><img class="sm:max-w-[48px]" width="64" height="64" src="/twitter.svg" alt="twitter logo"></a></li>
        <li><a target="_blank" href="https://t.me/companion_ai_tech"><img class="sm:max-w-[48px]" width="64" height="64" src="/tg.svg" alt="telegram logo"></a></li>
      </ul>
    </div>
  </div>
  <div class="flex flex-col sm:mx-auto">
    <div>
      <img width="400" height="86.6" class="max-w-[400px] md:max-w-[202px] sm:max-w-[196px] mt-[10px]" src="/optimized/logo.webp" alt="logo">
    </div>
    <ul class="md:text-[17px] sm:mt-[33px] flex space-x-4 justify-end sm:justify-center mt-auto text-[#B1B1B1]">
      <li>FAQ</li>
      <a target="_blank" class="underline hover:opacity-[0.5]" href="/privacy.pdf"><li>Privacy Policy</li></a>
    </ul>
  </div>
</footer>
<div class="text-center text-[16px] text-[#B1B1B1] pb-[100px] sm:pb-[60px]">
  Companion LLC
</div>
