---
import type { NavItem } from "~/types";
import RequestForm from '~/components/request-form.svelte'
import TelegramIcon from '~/components/icons/TelegramIcon.svelte'
import TwitterIcon from '~/components/icons/TwitterIcon.svelte'
let currentUrl = Astro.url.pathname

const githubPrefix = '/game-project'
const navItems: Array<NavItem> = [
  { title: "Ranking", url: githubPrefix + "/ranking" },
  { title: "Staking", url: githubPrefix + "/staking" },
  { title: "GameHub", url: githubPrefix + "/gamehub" },
  { title: "IDO", url: githubPrefix + "/ido" },
  { title: "Blog", url: githubPrefix + "/blog" },
  { title: "About", url: githubPrefix + "/about" },
  { title: "Whitepaper", url: githubPrefix + "/whitepaper" },
];
---

<footer class="z-[5] relative pt-[48px] bg-[url(/game-project/optimized/footer-bg.webp)] bg-cover  mt-[150px] md:px-[40px] px-[40px] sm:px-[24px] pb-[20px] sm:pb-[44px] ">
  <div class="max-w-[1520px] mx-auto">
    <div class="app-text-gradient-bg max-w-[60%] font-Oxanium text-[64px] uppercase leading-[120%]">
      Would you like to
      be part of our project?
    </div>
    <div class="max-w-[35%] mt-3">Leave a request and our managers will contact you and discuss all the details</div>
    <div class="max-w-[552px] mt-10" >
      <RequestForm client:load />
    </div>
    <div class="flex space-x-4 items-center mt-[72px]">
      <span class="font-Oxanium uppercase text-[32px]">Our socials</span>
      <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M28.5858 14.5858C29.3668 13.8047 30.6332 13.8047 31.4142 14.5858L39.4142 22.5858C40.1953 23.3668 40.1953 24.6332 39.4142 25.4142L31.4142 33.4142C30.6332 34.1953 29.3668 34.1953 28.5858 33.4142C27.8047 32.6332 27.8047 31.3668 28.5858 30.5858L33.1716 26H10C8.89543 26 8 25.1046 8 24C8 22.8954 8.89543 22 10 22H33.1716L28.5858 17.4142C27.8047 16.6332 27.8047 15.3668 28.5858 14.5858Z" fill="white"/>
      </svg>
      <a href="https://t.me/BIZZONGames" target="_blank">
        <TelegramIcon classes="w-[32px]" />
      </a>
      <a href="https://x.com/bizzongames" target="_blank">
        <TwitterIcon classes="w-[32px]"/>
      </a>
    </div>
    <div class="my-9 h-[1px] w-full bg-[#c3c3c3] opacity-80" />
    <nav class="flex sm:flex-wrap items-center">
      <ul class="flex items-center sm:flex-wrap gap-6 max-w-[680px]">
        {
          navItems.map(({ title, url }) => (
            <li>
              <a class={`text-[16px] transition-all hover:opacity-80 pb-1 ${currentUrl.includes(url) ? 'border-b-2 border-[#F97C0E]' : ''}`} href={url}>
                {title}
              </a>
            </li>
          ))
        }
      </ul>
      <div class="ml-auto flex gap-6">
        <a class="opacity-50 hover:underline" href="#">
          Terms of use
        </a>
        <a class="opacity-50 hover:underline" href="#">
          User Agreement
        </a>
        <a class="opacity-50 hover:underline" href="#">
          Privacy policy
        </a>
      </div>
    </nav>
  </div>
</footer>